@font-face {
    font-family: undertale battle font_0;
    src: url('./undertale battle font_0.ttf');
}



.d-row{
    display: flex;
    flex-direction: row;
}

.d-col{
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: undertale battle font_0;
}